.app {
    margin: 50px auto;
    
    width: 400px;

    padding: 5px;
    border: 1px solid black;
}

.selections {
    display: flex;
    align-items: center;
    gap: 5px;
}

.selections > input {
    width: 90px;
    text-align: center;
}