* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;

  padding: 20px;
}

.selections {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;

  width: 250px;
  height: auto;

  text-align: center;
}

.shirt-selection {
  display: block;
  width: 200px;
  height: 200px;
}

.shopping-list {
  width: 450px;
  min-height: 350px;
  border: 1px solid black;
  padding: 10px;
}

.shirt-in-cart {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;

  width: 100%;

  margin-bottom: 5px;
}

.shirt-in-cart > img {
  width: 80px;
  min-height: 80px;
}

.delete-item {
  /* display: flex;
  align-items: center;
  justify-content: center; */

  width: 15px;
  height: 15px;
  cursor: pointer;
}

.grand-total {
  padding: 5px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}