.selections {
  margin-bottom: 15px;
}

.selections > img {
  width: 200px;
  height: 150px;
  aspect-ratio: auto;
}

.selections > button {
  margin-top: 15px;
}

.cart-item {
  display: flex;
  gap: 5px;
}

.cart-item > img {
  margin-top: 5px;
  width: 50px;
}

.delete {
  cursor: pointer;
}
