@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.App {
  margin: 10px 20px;
}

.input-section {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-bottom: 10px;
  gap: 3px;
}

input {
  width: 230px;
  height: 35px;
  padding: 10px;
  font-size: 18px;
}

input::placeholder {
  font-size: 18px;
}

button {
  
  width: 75px;
  height: 35px;
}

ul {
  margin: 10px 20px;
}