* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  background-color: aliceblue;
}

.text {
  width: 500px;
}

.text-block {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-block > button {
  width: 150px;
  height: 50px;

  font-size: 18px;
  border-radius: 200px;

  background-color: green;
  color: #fff;
  border: none;
  cursor: pointer;
}

.blur {
  filter: blur(3px);
}

.text-block > button:active {
  transform: scale(0.97);
}

.modal {
  position: absolute;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 380px;
  height: 200px;

  font-size: 26px;
  text-transform: uppercase;
  background-color: #fff;

  border-radius: 10px;
  border: 1px solid black;

  /* z-index: 1; */
}

.modal > button {
  width: 100px;
  height: 20px;

  border-radius: 200px;

  background-color: rgb(192, 75, 75);
  color: #fff;
  border: none;

  cursor: pointer;
}

.modal > button:active {
  transform: scale(0.97);
}

.hidden {
  display: none;
}
