li {
  list-style: none;
}

button {
  cursor: pointer;
}

.add-cancel-btns {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.cancel-btn {
  cursor: pointer;
}

.cancel-btn:hover {
  text-decoration: underline;
}

.done {
  text-decoration: line-through;
}

.expired {
  color: grey;
  opacity: 80%;
}