body {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 100vh;

  /* background-color: black;
  color: rgb(195, 195, 195); */
}

.container {
  display: grid;
  grid-template-columns: 1fr auto auto;
  column-gap: 0.6rem;

  max-width: 600px;

  padding: 2rem 3rem;

  border: 1px solid rgb(130, 130, 130, 0.5);
  border-radius: 5px;
  box-shadow: 10px 9px 21px -5px rgba(130, 130, 130, 0.5);
  background-color: #fff;
}

.input-amount {
  grid-row: 2;
  width: 12rem;
  border-radius: 5px;
  border: 1px solid black;
  padding-left: 0.6rem;
}

select {
  width: 120px;
}

select > option {
  text-align: left;
}

.select-from {
  grid-row: 2;
}

p {
  font-weight: 600;
}

.convertion-results {
  grid-column: 1 / -1;
  margin-top: 1rem;
}

.main-result {
  font-size: 2rem;
}

.secondary-result {
  opacity: 75%;
}

span {
  font-style: italic;
}

@media only screen and (max-width: 450px) {
  body {
    font-size: 1.1rem;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
  }

  .p-amount, .p-from, .p-to {
    /* background-color: antiquewhite; */
    margin-bottom: -0.1px;
    margin-left: 3px;
  }

  input {
    min-height: 36.8px;
    
  }

  input, select {
    margin-bottom: 10px;
  }
}
